services:
  frontend:
    image: dabid/stockpulse-frontend:latest
    container_name: stockpulse_frontend
    restart: unless-stopped
    environment:
      - API_URL=http://stockpulse_api:5166
    depends_on:
      - api
    networks:
      - stockpulse_net
      - shared_net

  api:
    image: dabid/stockpulse-api:latest
    container_name: stockpulse_api
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - NLP_URL=http://stockpulse_nlp:8000
    depends_on:
      - nlp
    networks:
      - stockpulse_net
      - shared_net

  nlp:
    image: dabid/stockpulse-nlp:latest
    container_name: stockpulse_nlp
    restart: unless-stopped
    networks:
      - stockpulse_net

networks:
  stockpulse_net:
  shared_net:
    external: true
